<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="FILE_LOG_PATTERN" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %c - %msg%n"/>

    <appender name="servlet-log" class="ch.qos.logback.core.FileAppender">
        <file>logs/servlets.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="dtoMapper-log" class="ch.qos.logback.core.FileAppender">
        <file>logs/service/dtoMapper.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="postgresdatabase-log" class="ch.qos.logback.core.FileAppender">
        <file>logs/repository-model/postgres.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.strelnikov.doclib.repository" level="debug">
        <appender-ref ref="postgresdatabase-log"/>
    </logger>

    <logger name="com.strelnikov.doclib.service.dtomapper.impl" level="debug">
        <appender-ref ref="dtoMapper-log"/>
    </logger>

    <logger name="com.strelnikov.doclib.web.servlets" level="debug">
        <appender-ref ref="servlet-log"/>
    </logger>

    <logger name="StartJetty" level="debug">
        <appender-ref ref="servlet-log"/>
    </logger>
</configuration>